<!-- version2 -->
<div>
  <div class="row">
    <div class="col-md-12">
      <div ng-switch on="campusView">
        <div ng-switch-when="default">
          <div ng-include='"views/defaultsectiontitleversion2.html"'></div>
        </div>
        <div ng-switch-when="openCampus">
          <div ng-include='"views/openversion2.html"'></div>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-danger alert-dismissable" ng-if="optionAlert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Missing option!</strong> Choose all options before adding course to list
  </div>
  <div class="row">
    <div class="col-md-10 table-responsive">
      <strong>Grades</strong>

      <table id="coursegrades" class="table table-hover table-bordered table-condensed gridform">

        <tbody>
          <tr class="success gridheadspacer" ng-class="theme.table">
            <td></td>
            <td class="text-center">
              <select id="course" class="form-control" tabindex="-1" ng-model="course" ng-options="course.name group by course.group for course in courses | orderBy:'name'">
                <option value="">Course</option>
              </select>
            </td>
            <td class="text-center">
              <button popover="Course with prior GPA scheme" popover-trigger="mouseenter" class="btn btn-default btn-xs" ng-class="{'active': term.code=='201330'}" ng-click="selectTerm('201330')"><i class="text-danger fa fa-backward" title="Taken before Semester I 2014/2015"></i></button>
              <button popover="Course with current GPA Scheme" popover-trigger="mouseenter" class="btn btn-default btn-xs" ng-class="{active: term.code=='201410'}" ng-click="selectTerm('201410')"><i class="text-success fa fa-forward" title="Taken after Semester I 2014/2015 change"></i></button>
            </td>
            <td class="text-center">
              <select id="type" class="form-control" tabindex="-1" ng-model="courseType" ng-options="courseType.name for courseType in courseTypes">
                <option value="">Type</option>
              </select>
            </td>
            <td class="text-center">
              <select id="level" class="form-control" tabindex="-1" ng-model="level" ng-options="level.name for level in levels">
                <option value="">Level</option>
              </select>
            </td>
            <td id="coursecell">
              <select id="grade" class="form-control" tabindex="-1" ng-model="grade" ng-options="grade.name for grade in grades">
                <option value="">Grade</option>
              </select>
            </td>
            <td class="text-center">
              <select id="qualityhours" class="form-control" tabindex="-1" ng-model="qualityhoursValue" ng-options="qualityhoursValue.qualityHours for qualityhoursValue in qualityhoursValues">
                <option value="">Quality Hrs</option>
              </select>
            </td>
            <td class="gridaction add" id="addcell" ng-click="addCourse(term, course, courseType, level, grade, qualityhoursValue)">
              <i class="text-success fa fa-plus-circle" title="add" popover="Add" popover-trigger="mouseenter"></i>
            </td>
          </tr>
          <tr class="active">
            <th class="text-center">Include</th>
            <th class="text-center">
              Course
            </th>
            <th class="text-center">
              Period
            </th>
            <th class="text-center">
              Type
            </th>
            <th class="text-center">
              Level
            </th>
            <th class="text-center">
              Grade
            </th>
            <th class="text-center">
              Quality Hours
            </th>
            <th>
            </th>
          </tr>
          <tr ng-repeat="courseRow in courseRows" ng-class="changeBackgroundColour(courseRow)">
            <td class="includeicon"><input type="checkbox" ng-model="courseRow.include" class="switch-small" ng-change="includeCourse(courseRow)">&nbsp;&nbsp;&nbsp;&nbsp;<i ng-if="courseRow.fromWebService" class="text-info fa fa-download" title="from student system" popover="Data from student system" popover-trigger="mouseenter"></i></td>
            <td class="text-center">{{courseRow.course}}</td>
            <td class="text-center"><i class="{{courseRow.term.icon}}" title="{{courseRow.term.title}}"></i></td>
            <td class="text-center">{{courseRow.courseType}}</td>
            <td class="text-center">{{courseRow.level}}</td>
            <td class="text-center">{{courseRow.grade}}</td>
            <td class="text-center">{{courseRow.qualityhoursValue}}</td>
            <td class="gridaction removerow" ng-click="removeCourse(courseRow)">
              <i class="text-danger fa fa-times-circle" title="remove" popover="Remove" popover-trigger="mouseenter"></i></td>
          </tr>
          <tr class="active footerrow">
            <td></td>
            <td colspan="5">
              <strong>Totals</strong>
            </td>
            <td class="text-center">{{oldGpaTotalQualityHours | number:2}}</td>

            <td class="gridsummary">
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-2 table-responsive" id="gpa1">
      <strong>GPA 1</strong>
      <table id="gpa1calc" class="table table-hover table-bordered table-condensed gridform">
        <tbody><tr class="success gridheadspacer" ng-class="theme.table">
          <th colspan="2">
            Points
          </th>
        </tr>
        <tr class="active gridpointsheight">
          <th>
            Quality
          </th>
          <th>
            Grade
          </th>
        </tr>
        <tr class="num gridpointsheight" ng-repeat="courseRow in courseRows" ng-class="changeBackgroundColour(courseRow)">
          <td ng-class="courseRow.mutePoints">{{courseRow.adjustedQualityPoints}}</td>
          <td ng-class="courseRow.mutePoints">{{courseRow.adjustedGradePoints}}</td>
        </tr>

        <tr class="active footerrow">
          <td>{{oldGpaTotalQualityPoints}}</td>
          <td>{{oldGpaTotalGradePoints}}</td>
        </tr>
      </tbody></table>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row" id="comparison">
        <div class="col-md-4">
          <label>Description</label>
          <table class="table table-bordered table-condensed gridform gridsummary">
            <tbody>
              <tr class="active">
                <td>
                  <strong>Cumulative GPA:</strong>
                </td>
              </tr>
              <tr class="active">
                <td>
                  <strong>Degree GPA:</strong>
                </td>
              </tr>
              <tr class="active">
                <td>
                  <strong>Honours:</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <label>Old GPA</label>
          <table id="gpa1results" class="table table-bordered table-condensed gridform gparesults">
            <tbody id="abId0.6097010071389377">
              <tr id="abId0.6788973261136562">
                <td id="abId0.8481875043362379">
                  {{oldGpa | number:2}}
                </td>
              </tr>
              <tr id="abId0.9279907620511949">
                <td id="abId0.3054807099979371">
                  {{oldWeightedGpa | number:2}}
                </td>
              </tr>
              <tr id="abId0.09768377710133791">
                <td id="abId0.8834890369325876">
                  {{oldGpaDegreeClass}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <label>Converted GPA</label>
          <table id="gpa2results" class="table table-bordered table-condensed gridform">
            <tbody id="abId0.7155959573574364"><tr id="abId0.5987090810667723">
              <td id="abId0.9281616685912013">
                {{newGpa | number:2}}
              </td>
            </tr>
            <tr id="abId0.8842717995867133">
              <td id="abId0.1812163784634322">
                {{newWeightedGpa | number:2}}
              </td>
            </tr>
            <tr id="abId0.1523880399763584">
              <td id="abId0.4130460750311613">
                {{newGpaDegreeClass}}
              </td>
            </tr>
          </tbody></table>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- version2 end -->
